# Project exclude paths
/.gradle/
/Encryption-Decryption/task/build/
/Encryption-Decryption/task/out/
/Encryption-Decryption/task/out/production/classes/
/Problems/Assignments/out/
/Problems/Assignments/out/production/classes/
/Problems/Assignments (1)/out/
/Problems/Assignments (1)/out/production/classes/
/Problems/Desks/out/
/Problems/Desks/out/production/classes/
/Problems/Digits from 0 to 9 in a single line/out/
/Problems/Digits from 0 to 9 in a single line/out/production/classes/
/Problems/Fill the declaration/out/
/Problems/Fill the declaration/out/production/classes/
/Problems/First digit/out/
/Problems/First digit/out/production/classes/
/Problems/From 0 to 4/out/
/Problems/From 0 to 4/out/production/classes/
/Problems/Guest list of a hotel/out/
/Problems/Guest list of a hotel/out/production/classes/
/Problems/Hello, Java platform/out/
/Problems/Hello, Java platform/out/production/classes/
/Problems/Hiring a chef/out/
/Problems/Hiring a chef/out/production/classes/
/Problems/Initializing an array of characters/out/
/Problems/Initializing an array of characters/out/production/classes/
/Problems/Initializing an array of integers/out/
/Problems/Initializing an array of integers/out/production/classes/
/Problems/Initializing an array of longs/out/
/Problems/Initializing an array of longs/out/production/classes/
/Problems/Invalid declaration of variables/out/
/Problems/Invalid declaration of variables/out/production/classes/
/Problems/Print strings in the reverse order/out/
/Problems/Print strings in the reverse order/out/production/classes/
/Problems/Printing only the longest line/out/
/Problems/Printing only the longest line/out/production/classes/
/Problems/Printing strings in the same order/out/
/Problems/Printing strings in the same order/out/production/classes/
/Problems/Reading integer numbers/out/
/Problems/Reading integer numbers/out/production/classes/
/Problems/The countdown/out/
/Problems/The countdown/out/production/classes/
/Problems/The Hello World program/out/
/Problems/The Hello World program/out/production/classes/
/Problems/The result of a Tic-Tac-Toe game/out/
/Problems/The result of a Tic-Tac-Toe game/out/production/classes/
/Problems/Three numbers/out/
/Problems/Three numbers/out/production/classes/